.list-container {
	display: flex;
	flex-direction: column;
	margin: 5% 0;
	width: 100%;
	border-width: 1px;
	border-color: #444;
	border-style: solid;
}

.list-header {
	margin: 0;
	padding: 6px 12px;
	border-bottom: #444 solid 1px;
	background: repeating-linear-gradient(
  -45deg,
  #aaa,
  #aaa 5px,
  #ccc 5px,
  #ccc 10px
);
}

.list-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.list-item {
	padding: 6px 12px;
	cursor: pointer;
	border-bottom: #444 solid 1px;
}

.selected {
	background-color: #ccc;
	border: 2px solid #444;
}

.list-footer {
	display: flex;
}

.list-input {
	flex-grow: 1;
	font-size: 16px;
}
