.container {
  height: 100%;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  flex-grow: 2;
  align-items: stretch;
}
